body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;
}

.messages {
  position: fixed;
  overflow: auto;
  background-color: #FAFAFA;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 50px;
}

.message .time {
  font-size: 10px;
  color: #CACACA;
}

.message .from {
  border-left: 1px solid #CACACA;
  padding-left: 5px;
}

.message .content {
  display: inline-block;
  vertical-align: top;
}

.lastUnread {
  padding-bottom: 10px;
  border-bottom: 1px solid #CACACA;
  margin-bottom: 10px;
}

.message-box {
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.message-text {
  width: 100%;
  font-size: 16px;
}