<ul class="messages">
  <li class="message" ng-repeat="msg in messages" ng-class="{ lastUnread: msg.lastUnread }">
    <small class="time">{{ msg.date | time }}</small>
    <img class="avatar" ng-src="{{ msg.from.photo }}" />
    <div class="content">
      <b class="from">{{ msg.from.name | nameFilter }} :</b>
      <div class="message" ng-bind-html="parseMessage(msg.message)" />
    </div>
  </li>
</ul>

<div class="message-box">
  <textarea class="message-text" ng-model="message" ng-keydown="messageKeyDown($event)"></textarea>
</div>